.sider
    .inner-menu 
        ul 
            li 
            a(href=`${prefixAdmin}/dashboard`) Tổng quan
            a(href=`${prefixAdmin}/user`) Danh sách người dùng
            a(href=`${prefixAdmin}/roles`) Nhóm quyền
            a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
            a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản